.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
  margin: 0 10px;
}

.btn-cancel {
  background: #ccc;
  color: #000;
}

.btn-cancel:hover {
  background: #b3b3b3;
}

.btn-confirm {
  background: #d9534f;
  color: white;
}

.btn-confirm:hover {
  background: #c9302c;
}
