.list .player {
  padding: 10px;
  border: outset;
  background-color: cornsilk;
  cursor: pointer;

  overflow: hidden;
  transition: all 0.3s ease;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.player-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.list .player::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.list .player:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.list .player .player-info {
  padding: 10px;
  justify-items: center;
  color: #997ad2;
  font-weight: 700;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.player-info .player-info-fullname {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}

.player-info .player-info-club {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 20px;
}

.list .player:hover .player-info {
  color: rgba(153, 122, 210, 0.2);
}

.player-hover-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.player-hover-icons .more-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.list .player:hover .player-hover-icons .more-info {
  opacity: 1;
  pointer-events: auto;
}

.player-hover-icons .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.list .player:hover .player-hover-icons .delete {
  opacity: 1;
  pointer-events: auto;
}