.personal-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.personal-infos:hover {
  background-color: #f8fafc;
}

.personal-infos .image-container {
  align-content: center;
}

.personal-infos .infos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infos-container .name-and-surname {
  font-weight: 700;
}

.infos-container .properties-with-icons {
  display: flex;
  flex-direction: column;
}

.properties-with-icons .property {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.properties-with-icons .property .icon {
  margin-right: 10px;
}

.personal-infos .edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.personal-infos:hover .edit-icon {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .personal-infos {
    flex-direction: column;
    align-items: center;
  }

  .infos-container {
    align-items: center;
    text-align: center;
  }
}
