body {
  height: 100vh;
}

#root {
  height: inherit;
}

.report-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.report-container .link-for-full-report {
  padding: 10px;
}

.report-container .link-for-full-report a {
  color: #fff;
}
