body {
  height: 100vh;
}

#root {
  height: inherit;
}

.report-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.report-container .player-name-and-surname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.report-container .player-name-and-surname .player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  justify-content: space-evenly;
}

.report-container .player-name-and-surname .player-header h4 {
  margin: 0;
}

.report-container .player-name-and-surname .image-container {
  height: 100%;
  align-content: center;
  margin-left: 90px;
}

.report-container .player-name-and-surname .image-container .player-image {
  height: 100px;
  filter: brightness(0) invert(1);
}

.report-container .description {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: space-evenly;
  padding: 10px;
}

.report-container .description p,
.report-container .player-report p {
  text-align: left;
  margin: 0;
}

.report-container .player-report {
  display: flex;
  flex-direction: column;
}

.player-report h4 {
  margin-bottom: 30px;
}

.report-container .link-for-full-report {
  padding: 10px;
}

.report-container .link-for-full-report a {
  color: #fff;
}