#main-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-and-options-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.selected-option {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.add-scout-btn {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  background-color: #74ff79;
  cursor: pointer;
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow-y: auto;
  padding-bottom: 10px;
}

.list .scout {
  padding: 10px;
  border: outset;
  background-color: cornsilk;
  cursor: pointer;

  overflow: hidden;
  transition: all 0.3s ease;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.scout-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.list .scout::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.list .scout:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.list .scout .scout-info {
  padding: 10px;
  justify-items: center;
  color: #997ad2;
  font-weight: 700;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.scout-info .scout-info-fullname {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}

.list .scout:hover .scout-info {
  color: rgba(153, 122, 210, 0.2);
}

.scout-hover-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.scout-hover-icons .edit-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.list .scout:hover .scout-hover-icons .edit-icon {
  opacity: 1;
  pointer-events: auto;
}

.edit-icon svg {
  fill: #d3a518ff;
}

.scout-hover-icons .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.list .scout:hover .scout-hover-icons .delete {
  opacity: 1;
  pointer-events: auto;
}
