.report-container .player-name-and-surname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.report-container .player-name-and-surname .player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  justify-content: space-evenly;
}

.report-container .player-name-and-surname .player-header h4 {
  margin: 0;
}
