body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  height: 100vh;
}

#main-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-and-options-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.selected-option {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  flex: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.list .player {
  padding: 10px;
  border: outset;
  background-color: cornsilk;
}

.list .player .player-info {
  padding: 10px;
  justify-items: center;
  color: #997ad2;
  font-weight: 700;
}

.list .player .player-info .player-info-fullname {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}

.list .player .player-info .player-info-club {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 20px;
}

.image-container {
  justify-self: center;
}

.player-image {
  height: 100%;
  width: 100%;
}
